body {
  background-color: #364a63;
  padding: 1rem 1.5rem;
  color: white;
}

.price-container {
  display: grid;
  .chart {
    width: 100%;
  }
  .summary {
    width: 100%;
  }
}

.error {
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.percent {
  font-size: 12px;
}

.pairSummary {
  display: grid;
}

@media (min-width: 768px) {
  body {
    padding: 2rem 3rem;
  }
  .price-container {
    display: flex;
    gap: 2rem;
    .chart {
      width: 60%;
    }
    .summary {
      width: 40%;
    }
  }
  .pairSummary {
    display: flex;
    gap: 3rem;
  }
}
